#profile-div, #edit-profile-div{
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: black;
    width: max-content;
    height: auto;
    padding: 5%;
    border: 2px solid orange;
    color: white;
    border-radius: 40px;
    margin-top: 2%;
}
#display{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#display img{
    height: 200px;
    border-radius: 100%;
}
#display p{
    font-size: 200%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: orange;
    opacity: 0.8;
}
#info-table{
    font-size: 120%;
    color: white;
    margin-top: 3%;
}
#info-table tr{
    padding: 20%;
}
#info-table tr td{
    padding-top: 5%;
    color: white;
}
#info-table tr td label{
    color: white;
}
#edit-profile-btn{
    color: white;
    width: 70%;
    align-self: center;
    margin-left: 16%;
    margin-right: 12%;
    margin-top: 5%;
    padding: 5%;
    color: black;
    font-size: 120%;
    font-weight: bold;
    background-color: aqua;
    border-radius: 50px;
    opacity: 0.7;
}
.change{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 10%;
    font-size: 300%;
    color: black;
    height: max-content;
    width: 100%;
}

.input, .button{
    margin-top: 2%;
    padding: 2%;
    color: black;
    width: 70%;
}
#edit-profile-div{
    width: 60%;
}
#choose-p{
    color: aqua;
    align-self: center;
    width: 100%;
    border: 3px solid orange;
    text-align: center;
    font-size: 200%;
}
#error{
    color: orangered;
    border: 0px transparent;
    font-size: 90%;
    width: 100%;
}
#change-profile-pic-div{
    display: flex;
    flex-direction: row;
    color: greenyellow;
}
#upload-btn{
    width: 50%;
    color: black;
    padding: 3%;
}
#image{
    color:white;
    margin-top: 10%;
    margin-bottom: 10%;
}
#edit-profile-option{
    width: 100%;
    padding: 3%;
    background-color: black;
    color: chartreuse;
}
option{
    color: chartreuse;
}